body {
	font-family: "Roboto", sans-serif;
}

.container {
	width: 1000px;
	position: relative;
	/* display: block; */
	border-radius: 5px;
	/* display: block; */
	margin: 10px;
	background-color: aliceblue;
}

.top-qwert {
	position: absolute;
	color: #565256;
	font-size: 30px;
	text-decoration: none;
	right: 20px;
	top: 10px;
}

.top-qwert:hover {
	color: #EF7F1A;
}

.top {
	display: flex;
	margin-bottom: 36px;
	padding: 49px 0 0 89px;
}

.top-info {
	margin: 0 0 0 60px;
}

.location {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(170, 163, 163);
	/* font-size: 14px; */
}

.top-title {
	font-size: 24px;
	font-weight: 700;
	margin: 15px 0;
}

.top-text {
	margin-bottom: 15px;
	line-height: 20px;
}

.span {
	font-weight: 700;
}

.btn {
	display: flex;
	gap: 0 14px;
}

.btn-item {
	display: flex;
	padding: 11px 22px 11px 14px;
	color: #FFF;
	border-radius: 3px;
	border: none;
	align-items: center;
}

.btn-orange {
	background-color: #EF7F04;
}

.btn-blue {
	background-color: #3B3A63;
}

.btn-img {
	margin-right: 13px;
}

