body {
	font-family: 'Roboto', sans-serif;
}

.certificates {
	display: block;
	width: 1200px;
	height: 461px;
	background-color:azure;
	border-radius: 3px;
}

.cert {
	position: relative;
	padding: 101px 94px;
}

.cert-qwert {
	position: absolute;
	color: #565256;
	font-size: 30px;
	text-decoration: none;
	right: 20px;
	top: 10px;
}

.cert-qwert:hover {
	color: #EF7F1A;
}

.left {
	position: absolute;
	bottom: 205px;
	left: 40px;
}

.rigth {
	position: absolute;
	bottom: 205px;
	right: 40px;
}



