body {
	font-family: 'Roboto', sans-serif;
}

.form {
	width: 595px;
	background-color: blanchedalmond;
	border-radius: 10px;
	padding: 55px 100px 62px 100px;
	margin: 20px;
}

.form-cross {
	position: relative;
	right: 19px;
	top: 25px;
}

.form-qwert {
	position: absolute;
	color: #565256;
	font-size: 30px;
	text-decoration: none;
	font-weight: 100;
	right: -90px;
	top: -60px;
}

.form-qwert:hover {
	color:#EF7F1A;
}

.icon-title {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.form-title {
	font-size: 24px;
	font-weight: 700;
	margin-left: 30px;
}

.form-input {
	display: block;
	width: 100%;
	margin-bottom: 21px;
	padding: 17px;
	border: none;
	border-radius: 3px;
	background-color: #E2E2E2;
}

/* checkbox */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
	position: absolute;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 38px;
	line-height: 25px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 25px;
	height: 25px;
	background-color: #E2E2E2;
	border-radius: 3px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
	content: "";
  position: absolute;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
	left: 4px;
	top: 6px;
	width: 15px;
	height: 7px;
	border-left: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(-55deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

/* checkend */
.check-text {
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}

.form-submit {
	display: block;
	margin: 31px auto 0 auto;
	background-color: #EF7F1A;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 17px 63px 17px 71px;
	font-weight: 700;
}

.form-submit:hover {
	opacity: 0.7;
}


