body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1200px;
	background-color:azure;
	margin: 50px;
}

.header {
	display: flex;
	padding: 55px 101px 37px 101px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.head-qwert {
	position: absolute;
	color: #565256;
	font-size: 30px;
	text-decoration: none;
	right: 40px;
	top: 20px;
}

.head-qwert:hover {
	color: #EF7F1A;
}

.head-info {
	display: flex;
	gap: 0 59px;
}

.title {
	font-size: 18px;
	font-weight: 700;
}

.text	{
	font-size: 14px;
	color: #8F8F8F;
}

.btn {
	display: flex;
	align-items: center;
	background-color: #EF7F1A;
	border-radius: 3px;
	border: none;
	padding: 17px 20px;
	font-weight: 700;
	font-size: 16px;
}

.btn-icon {
	color: #FFF;
	text-decoration: none;
	padding-left: 15px;
}

.main {
	position: relative;
}

.left {
	position: absolute;
	bottom: 205px;
	left: 40px;
}

.right {
	position: absolute;
	bottom: 205px;
	right: 90px;
}

p {
	line-height: 19px;
	color: #9e9a9a;
	width: 796px;
	margin: 0 auto;
	text-align:justify;
	padding-bottom: 114px;
}

.btn:hover {
	opacity: 0.7;
	/* cursor: pointer; */
}