body {
	font-family: "Roboto", "Arial", sans-serif;
	width: 1950px;
	background-color: rgb(235, 231, 231);
	margin: 0 auto;
	position: relative;
	padding: 0 15px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}


