/* начало header */
.header {
	background-color: #fff;
}

.head-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 17px 0;
}

.head-list {
	display: flex;
	gap: 0 25px;
}

.head-link {
	color: #000;
	text-decoration: none;
}

.head-link:hover {
	color: #EF7F04;
}

.head-btn {
	display: flex;
	gap: 0 14px;
}

.head-btn-item {
	display: flex;
	align-items: center;
	border-radius: 3px;
	border: none;
	padding: 10px 19px 10px 14px;
	color: #FFF;
	font-weight: 700;
}

.head-btn-item:hover {
	opacity: 0.7;
	/* cursor: pointer; */
}

.head-btn-orange {
	background-color: #EF7F04;
	
}

.head-btn-blue {
	background-color: #3B3A63;
}

.head-img {
	margin-right: 12px;
}

.head-btn-link {
	color: #FFF;
	text-decoration: none;
}
/* конец header */


/* начало main */
.main {
	background: url("../images/main/fon.png");
	padding: 65px 0;
}

.main-wrapper {
	display: flex;
}

.main-left {
	padding-right: 52px;
}

.main-title {
	font-size: 36px;
	color: #FFF;
	margin: 0 220px 36px 0;
}

.main-title-orange {
	display: block;
	font-size: 24px;
	font-weight: 700;
	color: #EF7F04;
	margin: 52px 0 5px;
}

.main-title-thin {
	line-height: 42px;
	font-weight: 100;
}

.main-advantages {
	display: flex;
	gap: 0 35px;
}

.main-advantages-item {
	width: 200px;
}

.main-item-description {
	color: #FFF;
	margin-top: 20px;
	line-height: 24px;
}

.main-form {
	background-color: #FFF;
	width: 406px;
	height: 428px;
	padding: 45px 40px 60px 40px;
	border-radius: 10px;
	position: relative;
	margin-right: 444px;
}

.main-form-title {
	text-align: center;
	margin-bottom: 27px;
	font-weight: 700;
}

.main-form-input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 12px 0 12px 16px;
	border-radius: 3px;
	background-color: #E2E2E2;
	border: none;
}

.main-form-input::placeholder {
	color: #424268;
}

.main-form-text {
	font-size: 12px;
	margin-left: 10px;
}

.main-form-pol {
	text-decoration: none;
	color: #3c15c7;
}

.main-lin {
	position: absolute;
	right: -135px;
}

.main-form-submit {
	display: block;
	margin: 0 auto;
	background-color: #EF7F04;
	border: none;
	padding: 20px 40px;
	border-radius: 3px;
	font-weight: 700;
}

.main-form-sub {
	text-decoration: none;
	color: #FFF;
}

.main-form-submit:hover {
	opacity: 0.7;
}

.main-form-group {
  display: block;
  margin-bottom: 15px;
}

.main-form-group .main-check {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.main-form-group label {
	display: flex;
  position: relative;
  cursor: pointer;
}

.main-form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: #E2E2E2;
	border-radius: 3px;
  box-shadow: 0 1px 2px rgba(183, 13, 13, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	width: 50px;
	height: 25px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
}

.main-form-group .main-check:checked + label:after {
  content: url("../images/main/galka.png");
  position: absolute;
  top: -3px;
  left: 3px;
}
/* конец main  */



/* начало services */
.serv-title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding: 68px 0 48px;
}

.serv-link {
	text-decoration: none;
	color: #000;
}

.serv-link:hover {
	color: #EF7F04;
}

.serv-box {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.serv-block {
	width: 595px;
	height: 268px;
	padding: 50px 160px 55px 55px;
}

.serv-block1 {
	background: url("../images/serv/окноФон.png");
}

.serv-block2 {
	background: url("../images/serv/балконФон.png") no-repeat center;  
}

.serv-block3 {
	background-image: url("../images/serv/дачаФон.png");
}

.serv-block4 {
	background: url("../images/serv/объектФон.png");
}

.serv-img {
	display: flex;
	align-items: center;
}

.serv-block-title {
	font-size: 24px;
	font-weight: 700;
	margin: 0 20px 0 28px;
	line-height: 28px;
}

.serv-text {
	margin: 28px 80px 0 0;
	line-height: 19px;
}

/* Начало Модальное окно 1 */
/* Стрелка */
.win-osnova_okna {
  color: #FFF;
  cursor: pointer;
	padding-left: 450px;
  text-decoration: none;
	font-size: 35px;
}

.win-osnova_okna:hover {
	color: #EF7F1A;
}

/* Затемнение фона */
.win-osnovanye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(24, 16, 2, 0.7);
  visibility: hidden;
	z-index: 2;
}

.win-osnovanye:target {
  visibility: visible;
}

.win-kanoving {
  border-radius: 5px;
  width: 1000px;
}

.win-container {
	background-color: #FFF;
	margin: 200px 460px;
	position: relative;
	width: 1000px;
	padding: 49px 0 42px 109px;
	border-radius: 5px;
	background-image: url("../images/serv/win-images/фон.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* закрывающий крестик */
.win-udelopas {
	color: #000;
	position: absolute;
	font-size: 50px;
	font-weight: 200;
	right: 30px;
	top: 10px;
	text-decoration: none;
}

.win-udelopas:hover {
	color: #EF7F1A;
}

.win-fon {
	position: absolute;
	right: 0;
	bottom: 0;
}

.win-top {
  width: 100%;
  height: 233px;
	display: flex;
	margin-bottom: 36px;
}

.win-top-info {
	margin: 0 0 0 91px;
	margin-top: 20px;
	z-index: 11;
}

.win-top-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.win-top-text {
	margin-bottom: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}

.win-btn {
	display: flex;
	gap: 0 14px;
}

.win-btn-item {
	display: flex;
	padding: 12px 22px 10px 14px;
	color: #FFF;
	border-radius: 3px;
	border: none;
	align-items: center;
}

.win-btn-orange {
	background-color: #EF7F04;
}

.win-btn-blue {
	background-color: #3B3A63;
}

.win-btn-img {
	margin-right: 13px;
}

.win-list {
	display: flex;
	gap: 42px 35px;
	flex-wrap: wrap;
	
}

.win-list-point {
	display: flex;
	align-items: center;
	z-index: 11;
}

.win-list-info {
	margin-left: 32px;
	width: 266px;
}

.win-list-info1 {
	margin-left: 20px;
}

.win-list-title {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 7px;
}

.win-list-text {
	font-size: 13px;
	line-height: 15px;
}
/* конец модального окна 1 */


/* Начало Модальное окно 2 */
/* Стрелка */
.balc-osnova_okna {
	position: absolute;
  color: #FFF;
  cursor: pointer;
	padding-left: 450px;
	margin-top: -43px;
  text-decoration: none;
	font-size: 35px;
}

.balc-osnova_okna:hover {
	color: #EF7F1A;
}

/* Затемнение фона */
.balc-osnovanye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(24, 16, 2, 0.7);
  visibility: hidden;
	z-index: 2;
}

.balc-osnovanye:target {
  visibility: visible;
}

.balc-kanoving {
  border-radius: 5px;
  width: 1000px;
}

.balc-container {
	background-color: #FFF;
	margin: 200px 460px;
	position: relative;
	width: 1000px;
	padding: 49px 0 42px 109px;
	border-radius: 5px;
	background-image: url("../images/serv/balc-images/фон.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* закрывающий крестик */
.balc-udelopas {
	color: #000;
	position: absolute;
	font-size: 50px;
	font-weight: 200;
	right: 30px;
	top: 10px;
	text-decoration: none;
}

.balc-udelopas:hover {
	color: #EF7F1A;
}

.balc-fon {
	position: absolute;
	right: 0;
	bottom: 0;
}

.balc-top {
  width: 100%;
  height: 233px;
	display: flex;
	margin-bottom: 36px;
}

.balc-top-info {
	margin: 0 0 0 91px;
	margin-top: 20px;
	z-index: 11;
}

.balc-top-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.balc-top-text {
	margin-bottom: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}

.balc-btn {
	display: flex;
	gap: 0 14px;
}

.balc-btn-item {
	display: flex;
	padding: 12px 22px 10px 14px;
	color: #FFF;
	border-radius: 3px;
	border: none;
	align-items: center;
}

.balc-btn-orange {
	background-color: #EF7F04;
}

.balc-btn-blue {
	background-color: #3B3A63;
}

.balc-btn-img {
	margin-right: 13px;
}

.balc-list {
	display: flex;
	gap: 42px 35px;
	flex-wrap: wrap;
	
}

.balc-list-point {
	display: flex;
	align-items: center;
	z-index: 11;
}

.balc-list-info {
	margin-left: 32px;
	width: 266px;
}

.balc-list-info1 {
	margin-left: 20px;
}

.balc-list-title {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 7px;
}

.balc-list-text {
	font-size: 13px;
	line-height: 15px;
}
/* конец модального окна 2 */


/* Начало Модальное окно 3 */
/* Стрелка */
.dach-osnova_okna {
	position: absolute;
  color: #FFF;
  cursor: pointer;
	padding-left: 450px;
	margin-top: -20px;
  text-decoration: none;
	font-size: 35px;
}

.dach-osnova_okna:hover {
	color: #EF7F1A;
}

/* Затемнение фона */
.dach-osnovanye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(24, 16, 2, 0.7);
  visibility: hidden;
	z-index: 2;
}

.dach-osnovanye:target {
  visibility: visible;
}

.dach-kanoving {
  border-radius: 5px;
  width: 1000px;
}

.dach-container {
	background-color: #FFF;
	margin: 200px 460px;
	position: relative;
	width: 1000px;
	padding: 49px 0 42px 109px;
	border-radius: 5px;
	background-image: url("../images/serv/dach-images/фон.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* закрывающий крестик */
.dach-udelopas {
	color: #000;
	position: absolute;
	font-size: 50px;
	font-weight: 200;
	right: 30px;
	top: 10px;
	text-decoration: none;
}

.dach-udelopas:hover {
	color: #EF7F1A;
}

.dach-fon {
	position: absolute;
	right: 0;
	bottom: 0;
}

.dach-top {
  width: 100%;
  height: 233px;
	display: flex;
	margin-bottom: 36px;
}

.dach-top-info {
	margin: 0 0 0 91px;
	margin-top: 20px;
	z-index: 11;
}

.dach-top-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.dach-top-text {
	margin-bottom: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}

.dach-btn {
	display: flex;
	gap: 0 14px;
}

.dach-btn-item {
	display: flex;
	padding: 12px 22px 10px 14px;
	color: #FFF;
	border-radius: 3px;
	border: none;
	align-items: center;
}

.dach-btn-orange {
	background-color: #EF7F04;
}

.dach-btn-blue {
	background-color: #3B3A63;
}

.dach-btn-img {
	margin-right: 13px;
}

.dach-list {
	display: flex;
	gap: 42px 35px;
	flex-wrap: wrap;
	
}

.dach-list-point {
	display: flex;
	align-items: center;
	z-index: 11;
}

.dach-list-info {
	margin-left: 32px;
	width: 266px;
}

.dach-list-info1 {
	margin-left: 20px;
}

.dach-list-title {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 7px;
}

.dach-list-text {
	font-size: 13px;
	line-height: 15px;
}
/* конец модального окна 3 */


/* Начало Модальное окно 4 */
/* Стрелка */
.object-osnova_okna {
	position: absolute;
  color: #FFF;
  cursor: pointer;
	padding-left: 450px;
	margin-top: -25px;
  text-decoration: none;
	font-size: 35px;
}

.object-osnova_okna:hover {
	color: #EF7F1A;
}

/* Затемнение фона */
.object-osnovanye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(24, 16, 2, 0.7);
  visibility: hidden;
	z-index: 2;
}

.object-osnovanye:target {
  visibility: visible;
}

.object-kanoving {
  border-radius: 5px;
  width: 1000px;
}

.object-container {
	background-color: #FFF;
	margin: 200px 460px;
	position: relative;
	width: 1000px;
	padding: 49px 0 42px 109px;
	border-radius: 5px;
	background-image: url("../images/serv/object-images/фон.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* закрывающий крестик */
.object-udelopas {
	color: #000;
	position: absolute;
	font-size: 50px;
	font-weight: 200;
	right: 30px;
	top: 10px;
	text-decoration: none;
}

.object-udelopas:hover {
	color: #EF7F1A;
}

.object-fon {
	position: absolute;
	right: 0;
	bottom: 0;
}

.object-top {
  width: 100%;
  height: 233px;
	display: flex;
	margin-bottom: 36px;
}

.object-top-info {
	margin: 0 0 0 91px;
	margin-top: 20px;
	z-index: 11;
}

.object-top-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.object-top-text {
	margin-bottom: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}

.object-btn {
	display: flex;
	gap: 0 14px;
}

.object-btn-item {
	display: flex;
	padding: 12px 22px 10px 14px;
	color: #FFF;
	border-radius: 3px;
	border: none;
	align-items: center;
}

.object-btn-orange {
	background-color: #EF7F04;
}

.object-btn-blue {
	background-color: #3B3A63;
}

.object-btn-img {
	margin-right: 13px;
}

.object-list {
	display: flex;
	gap: 42px 35px;
	flex-wrap: wrap;
	
}

.object-list-point {
	display: flex;
	align-items: center;
	z-index: 11;
}

.object-list-info {
	margin-left: 32px;
	width: 266px;
}

.object-list-info1 {
	margin-left: 20px;
}

.object-list-title {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 7px;
}

.object-list-text {
	font-size: 13px;
	line-height: 15px;
}
/* конец модального окна 4 */

/* конец services  */


/* начало products */
.prod-wrapper {
	width: 1145px;
}

.prod-title {
	font-size: 24px;
	font-weight: 700;
	margin: 103px 0 42px 0;
	text-align: center;
}

.prod-link {
	text-decoration: none;
	color: #000;
}

.prod-link:hover {
	color: #EF7F04;
}

.prod-nav {
	display: block;
}

.prod-list {
	display: flex;
	justify-content: center;
	gap: 0 20px;
	margin-bottom: 37px;
}

.prod-list-item{
	/* font-size: 18px; */
	color: #000;
	text-decoration: none;
	padding: 10px 25px;
}

.prod-list-item:hover {
	color: #FFF;
	background-color: #EF7F04;
	border-radius: 3px;
}

.prod-info {
	display: flex;
	background-color: #fff;
	margin-bottom: 54px;
}

.prod-img {
	padding: 74px 65px 52px 35px;
}

.prod-img-title {
	font-size: 36px;
	color: #EF7F04;
	font-weight: 700;
	margin-bottom: 40px;
}
ьщ.prod-text {
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 22px;
	color: #BABABA;
}

.prod-specific {
	font-size: 18px;
	line-height: 40px;
}

.prod-point {
	color: #CFCFCF;
}

.prod-bold {
	font-weight: 600;
}
/* конец products */

/* начало quality */
.quality-wrapper {
	background: url("../images/quality/fon.png");
	box-shadow: inset 0 0 0 1000px rgba(22, 0, 93, 0.7);
	height: 436px;
	margin-bottom: 52px;
}

.quality-img {
	text-align: center;
	display: block;
	padding: 35px 0 54px 0;
}

.quality-advantages {
	display: flex;
}

.quality-advantages-item {
	width: 20%;
	text-align: center;
}

.quality-item-description {
	color: #FFF;
	margin-top: 38px;
	line-height: 18px;
	margin-bottom: 70px;
}

.quality-desc2, 
.quality-desc3 {
	margin-top: 55px;
}

.quality-btn-item {
	display: flex;
	align-items: center;
	border-radius: 3px;
	border: none;
	padding: 18px 54px 18px 34px;
	color: #FFF;
	font-weight: 700;
	margin-top: 52px;
	margin: 0 auto;
	background-color: #05045b;
}

.quality-btn-item:hover {
	opacity: 0.7;
	/* cursor: pointer; */
}

.quality-btn-img {
	margin-right: 22px;
}

.quality-btn-link {
	color: #FFF;
	text-decoration: none;
}
/* конец quality */



/* начало company */
.com-title {
	font-size: 24px;
	font-weight: 700;
	margin: 65px 0 40px 0;
	text-align: center;
}

.com-title-link {
	color: #000;
	text-decoration: none;
}

.com-title-link:hover {
	color: #EF7F04;
}

.com-list {
	display: flex;
	justify-content: center;
	gap: 0 30px;
	margin-bottom: 35px;
}

.com-link {
	color: #000;
	text-decoration: none;
	padding: 10px 25px;
}

.com-link:hover {
	color: #FFF;
	background-color: #EF7F04;
	border-radius: 3px;
}

.com-info {
	display: flex;
	background-color: #fff;
	margin-bottom: 70px;
}

.com-img {
	padding: 45px 52px 60px 50px;
}

.com-text {
	margin: 60px 0 0 200px;
	line-height: 22px;
}

.com-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly; 
	gap: 100px 0;
}

.com-block {
	display: flex;
	width: 30%;
}
.com-block-img5 {
	padding-left: 15px;
}

.com-icon {
	margin-right: 23px;
}

.com-icon5 {
	margin-left: 20px;
}
.com-block-title {
	text-transform: uppercase;
	line-height: 36px;
	font-weight: 700;
}

.com-block-info {
	line-height: 28px;
}

.com-submit {
	display: flex;
	margin: 82px auto 87px;
	background-color: #EF7F1A;
	border: none;
	padding: 17px 32px 17px 28px;
	color: #FFF;
	font-size: 14px;
	border-radius: 3px;
	font-weight: 700;
	align-items: center;
}

.com-submit:hover {
	opacity: 0.7;
}
.com-btn-img {
	margin-right: 15px;
}

.com-btn-link {
	color: #FFF;
	text-decoration: none;
}
/* конец company */


/* начало portfolio */
.port-wrapper {
	background-color: #fff;
	height: 400px;
}

.port-title {
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 100px;
}

.port-link {
	text-decoration: none;
	color: #000;
}

.port-link:hover {
	color: #EF7F1A;
	z-index: 2;
}

.port-foto {
	width: 215px;
	height: 215px;
	
}

lable {
	height: 215px;
}
.prot-karta {
	margin: 0 0 81px 360px;
}

.cards {
  display: flex;
  align-items: center;
	justify-content:center;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  transition: transform .4s ease;
  cursor: pointer;
}

#item-1:checked ~ .cards #song-4, 
#item-4:checked ~ .cards #song-3, 
#item-3:checked ~ .cards #song-2, 
#item-2:checked ~ .cards #song-1 {
  transform: translatex(-120%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, 
#item-2:checked ~ .cards #song-3, 
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-1 {
  transform: translatex(120%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, 
#item-2:checked ~ .cards #song-2, 
#item-3:checked ~ .cards #song-3
#item-4:checked ~ .cards #song-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* #item-1:checked ~ .cards #song-1, 
#item-2:checked ~ .cards #song-2, 
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4 {
	transform: translatex(220%) scale(1);
	opacity: .4;
	z-index: 0;
} */

/* конец portfolio */

/* начало accordion */
.acc-wrapper {
	background-color: #EF7F1A;
	border-radius: 7px;
	height: 791px;
}

.acc {
	text-align:center;
	color: #FFF;
	margin-bottom: 49px;
	padding-top: 40px;
	font-size: 24px;
	font-family: 700;
}

.acc-link {
	text-decoration: none;
	color: #000;
}

.acc-link:hover {
	color: #EEEEF3;
}
.acc-in {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.acc-box {
	overflow: hidden;
	box-shadow: 0 4px 4px -2px #FFF;
	width: 998px;
	margin:0 auto;
}

.acc-block {
	width: 100%;
	color: #2F2F51;
	overflow: hidden;
	margin-bottom: 16px;
}

.acc-block :last-child{
	margin-bottom: 0;
}

.acc-label {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 30px 30px 30px 19px;
	background: #EEEEF3;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.acc-label::after {
	content: url("../images/acc/шеврон.png");
}

.acc-label:hover {
	color: #EF7F1A;
}

.acc-content {
	max-height: 0;
	padding: 0 16px;
	color: #000000;
	background: white;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.acc-in:checked + .acc-label::after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.acc-in:checked ~ .acc-content {
	max-height: 100vh;
	padding: 16px;
}
/* конец accordion */

/* начало contacts */
.cont-wrapper {
	width: 1145px;
}

.cont-title {
	text-align: center;
	padding: 86px 0 60px 0;
	font-size: 24px;
	font-weight: 700;
}

.cont-link {
	text-decoration: none;
	color: #000;
}

.cont-link:hover {
	color: #EF7F1A;
}

.cont-info {
	display: flex;
	margin-bottom: 40px;
	justify-content: space-between;
}

.cont-consult {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}

.cont-tel {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 40px;
}

.cont-address {
	font-size: 18px;
	margin-bottom: 20px;
}

.cont-letter {
	font-size: 18px;
	margin-bottom: 50px;
}

.cont-text {
	margin-bottom: 20px;
	line-height: 22px;
	
}

.cont-form {
	background-color: #FFF;
	width: 511px;
	height: 564px; 
	padding: 55px 58px 50px 58px;
	border-radius: 10px;
	position: relative;
}

.cont-form-title {
	text-align: center;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 24px;
}

.cont-form-input {
	display: block;
	width: 100%;
	margin-bottom: 21px;
	padding: 16px 0 16px 17px;
	border-radius: 3px;
	background-color: #E2E2E2;
	border: none;
	width: 395px;
}

.check-text {
	font-size: 14px;
}

.cont-icon {
	position: relative;
	display: flex;
	width: 20px;
	height: 20px;
	gap: 0 10px;
}

/* иконки */
.social {display: inline-block;}
.social a {
	display: flex;
	width: 25px;
	height: 25px;
	gap: 0 10px;
	color: #f93;
	border: 3px solid #f93;
}

.social a:hover {
	color: #000;
	border: 3px solid #000;
}
/* конец иконки */

.cont-form-pol {
	text-decoration: none;
	color: #EF7F1A;
}

.cont-form-submit {
	display: block;
	margin: 31px auto 42px;
	background-color: #2F2F51;
	border: none;
	padding: 16px 43px;
	color: #FFF;
	border-radius: 3px;
	font-weight: 700;
}

.cont-casck {
	position: absolute;
	left: -313px;
	top: 309px;
	z-index: 1;
}

.cont-lin {
	position: absolute;
	left: -313px;
	top: 239px;
}

.cont-form-submit:hover {
	opacity: 0.7;
}

/* начало checkbox */
.input[type="checkbox"]:checked, 
.input[type="checkbox"]:not(:checked) {
	position: absolute;
}

.input[type="checkbox"]:checked + label, 
.input[type="checkbox"]:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 38px;
	line-height: 25px;
	cursor: pointer;
}

.input[type="checkbox"]:checked + label:before, 
.input[type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 25px;
	height: 25px;
	background-color: #E2E2E2;
	border-radius: 3px;
}

.input[type="checkbox"]:checked + label:after, 
.input[type="checkbox"]:not(:checked) + label:after {
	content: "";
  position: absolute;
}

.input[type="checkbox"]:checked + label:after, 
.input[type="checkbox"]:not(:checked) + label:after {
	left: 4px;
	top: 6px;
	width: 15px;
	height: 7px;
	border-left: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(-55deg);
}

.input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
/* checkend */
/* конец contacts */


/* начало footer */
.footer {
	background-color: #2F2F51;
}

.foot-wrapper {
	display: flex;
	padding: 55px 0;
	align-items: center;
	justify-content: space-between;
}

.footlogo {
	display: flex;
	align-items: center;
}

.footinfo {
	color: #FFF;
	margin-left: 22px;
}

.footconf {
	display: flex;
	justify-content: space-between;
	color: #FFF;
	width: 437px;
	font-size: 14px;
}
/* конец footer */