body {
	font-family: 'Roboto', sans-serif;
}

.container {
	position: relative;
	width: 1200px;
	/* height: 461px; */
	background-color:azure;
	padding: 68px 60px 90px 70px;
	border-radius: 3px;
	margin: 50px;
}

.work-qwert {
	position: absolute;
	color: #565256;
	font-size: 30px;
	text-decoration: none;
	right: 40px;
	top: 20px;
}

.work-qwert:hover {
	color: #EF7F1A;
}

.title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 74px;
}

.block {
	display: flex;
	justify-content: space-between;
}

.info {
	text-align: center;
	width: 20%;
}

.info-title {
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 31px;
}
.info-title3 {
	margin-top: 45px;
}

.text {
	line-height: 26px;
}

