body {
	font-family: 'Roboto', sans-serif;
}

.form {
	position: relative;
	width: 595px;
	background-color: #3B3A63;
	border-radius: 10px;
	padding: 55px 100px 69px 100px;
	margin: 20px;
}

.form-cross {
	position: absolute;
	right: 25px;
	top: 25px;
}

.icon-title {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	justify-content: center;
}

.form-title {
	font-size: 24px;
	font-weight: 700;
	margin-left: 26px;
	color: #FFF;
}

.form-input {
	display: block;
	width: 100%;
	margin-bottom: 21px;
	padding: 17px;
	border: none;
	border-radius: 3px;
}

/* checkbox */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
	position: absolute;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 38px;
	line-height: 25px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 25px;
	height: 25px;
	background-color: #FFF;
	border-radius: 3px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
	content: "";
  position: absolute;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
	left: 4px;
	top: 6px;
	width: 15px;
	height: 7px;
	border-left: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(-55deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
/* check-end */

.check-text {
	font-size: 14px;
	text-align: center;
	color: #FFF;
}

.check-pers {
	text-decoration: none;
	color: #EF7F04;
}

.form-submit {
	display: block;
	margin: 42px auto 0 auto;
	background-color: #FFF;
	border: none;
	border-radius: 3px;
	color: #2F2F51;
	padding: 17px 66px;
	font-weight: 700;
}

.form-submit:hover {
	/* opacity: 0.7; */
	font-size: 20px;
	padding: 13px 39px;
}

.qwert {
	position: absolute;
	color: #FFF;
	font-size: 50px;
	text-decoration: none;
	left: -30px;
	top: -10px;
	font-weight: 100;

}

.qwert:hover {
	color: #76efe7;
}